<!doctype html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block Title %}Template{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul class="nav-links">
                    <li><a {% if "/" == request.path %}class="active"{% endif %} href="/">Home</a></li>
                    <li><a {% if "/projects/" == request.path %}class="active"{% endif %} href="/projects">Projects</a></li>
                    <li><a {% if "/story/" == request.path %}class="active"{% endif %} href="/story">Story</a></li>
                    <li><a {% if "/contact/" == request.path %}class="active"{% endif %} href="/contact">Contact</a></li>
                </ul>
                <img src="{% static 'img/menu-outline.svg' %}" alt="Menu Hamburger" class="menu-hamburger">
            </nav>
        </header>

        <div class="content">{% block content %}{% endblock %}</div>

        <script src="{% static 'js/navbar.js' %}"></script>
    </body>
</html>
