<!doctype html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Template</title>
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul class="nav-items">
                    <li><a href="/"><span>Home</span></a></li>
                    <li><a href="/projects"><span>Projects</span></a></li>
                    <li><a href="/story"><span>Story</span></a></li>
                </ul>
            </nav>
            <a class="contact" href="/contact"><button><span>Contact</span></button></a>
        </header>
    </body>
</html>
