{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}
{% block content %}
    <div class="body">
        <div class="container">
        <div class="content">
            <div class="address details">
                  <i class="fas fa-map-marker-alt"></i>
                  <div class="topic">Address</div>
                  <div class="text-one">Champigny-Sur-Marne, 94500</div>
                  <div class="text-two">9 Résidence du Plateau</div>
                </div>
                <div class="phone details">
                  <i class="fas fa-phone-alt"></i>
                  <div class="topic">Phone</div>
                  <div class="text-one">+33 06 65 68 29 16</div>
                </div>
                <div class="email details">
                  <i class="fas fa-envelope"></i>
                  <div class="topic">Email</div>
                  <div class="text-one">plasteiggregory@gmail.com</div>
                </div>
        </div>
      </div>
    </div>
{% endblock %}
