@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 30px 60px 40px 40px;
    border-radius: 15px;
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .details {
    margin: 14px;
    text-align: center;
}

.container .content .details i {
    font-size: 30px;
    color: #F26430;
    margin-bottom: 10px;
}

.container .content .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.container .content .details .text-one,
 .container .content .details .text-two {
    font-size: 14px;
}

@media screen and (max-width: 900px) {
    .container {
        margin: 40px 0;
        height: 100%;
    }

    .container .content {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
}
