@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #2A2D34;
    font-size: 1.0rem;
}

.navbar .nav-links {
    display: flex;
    padding: 10px;
}

.navbar .nav-links li {
    margin: 0 10px;
}

.navbar .nav-links .active {
    text-decoration: underline #F26430 3px;
}

.navbar .menu-hamburger {
    width: 40px;
    position: absolute;
    top: 50px;
    right: 50px;
    display: none;
}

.navbar .title a {
    font-weight: 700;
    color: #F26430;
    font-size: 1.5rem;
}

.navbar .title a:hover {
    color: grey;
}

@media screen and (max-width: 600px) {
    .navbar .nav-links {
        display: none;
    }

    .navbar .menu-hamburger {
        display: block;
        top: 45px;
    }
}

@media screen and (max-width: 400px) {
    .navbar .title a {
        font-size: 1.2rem;
    }

    .navbar .menu-hamburger {
        width: 30px;
        top: 50px;
        right: 50px;
    }
}
