@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    font-size: 20px;
}

.navbar .nav-links {
    display: flex;
}

.navbar .nav-links li {
    margin: 0 25px;
}

.navbar .nav-links .active {
    color: red;
}

.navbar .menu-hamburger {
    width: 35px;
    position: absolute;
    top: 45px;
    right: 50px;
    display: none;
}

@media screen and (max-width: 900px) {
    .navbar .nav-links {
        display: none;
    }

    .navbar .menu-hamburger {
        display: block;
    }
}
