@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

header {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10%;
}

header li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 9px 25px;
}

.nav-items {
    list-style: none;
}

.nav-items li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-items li a {
    position: relative;
    border: 2px solid #111;
    transition: all 0.3s ease 0s;
}

.nav-items li a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: white;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
}

.nav-items li a:hover:before {
    transform: scaleY(0);
}

.nav-items li a:after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: white;
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
}

.nav-items li a:hover:after {
    transform: scaleX(0);
}

.nav-items li a span {
    position: relative;
    z-index: 3;
}

header button {
    position: relative;
    border: 2px solid #111;
    cursor: pointer;
    color: white;
    background-color: cyan;
    transition: all 0.3s ease 0s;
}

header button span {
    position: relative;
    z-index: 3;
}

header button:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    background: cyan;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
}

header button:hover:before {
    transform: scaleY(0);
}

header button:after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    background: cyan;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
}

header button:hover:after {
    transform: scaleX(0);
}

.active {
    transform: scaleX(0);
    transform: scaleY(0);
}
